.mobile-tech-toggle {
  margin-bottom: 10px;
}

/* Customizations */
.pb_gradient_v1:before {
  background: linear-gradient(45deg, var(--main-color) 0%, var(--main-color-lighter) 100%);
}


.pb_feature-v1 .media-body, .pb_feature-v2 .media-body {
  color: var(--text-color-lighter);
}

.navbar:not(.awake) .navbar-brand.colored {
  display: none;
}

.navbar.awake .navbar-brand.white {
  display: none;
}

.profile-image {
  border-radius: 50%;
}

.pb-footer {
  color: #333;
}

.simulators {
  display: flex;
}
.simulators img {
  width: 65%;
}
.simulators img.ios {
  margin-left: -30%
}
.pl-50 {
  padding-left: 50px;
}