.mobile-tech-toggle {
  margin-bottom: 10px;
}

/* Customizations */
.pb_gradient_v1:before {
  background: linear-gradient(45deg, var(--main-color) 0%, var(--main-color-lighter) 100%);
}


.pb_feature-v1 .media-body, .pb_feature-v2 .media-body {
  color: var(--text-color-lighter);
}

.navbar:not(.awake) .navbar-brand.colored {
  display: none;
}

.navbar.awake .navbar-brand.white {
  display: none;
}

.profile-image {
  border-radius: 50%;
}

.pb-footer {
  color: #333;
}

.simulators {
  display: flex;
}
.simulators img {
  width: 65%;
}
.simulators img.ios {
  margin-left: -30%
}
.pl-50 {
  padding-left: 50px;
}

.pb_sm_py_cover .sub-heading, .pb_md_py_cover .sub-heading, .pb_lg_py_cover .sub-heading, .pb_xl_py_cover .sub-heading {
  max-width: 100%;
}

.navbar-collapse {
  text-align: right;
  flex-basis: auto;
  flex-grow: 0;
}
.navbar-nav {
  background: transparent !important;
}

.logo {
  width: 200px;
}

@media (max-width: 768px) {
  .logo {
    width: 160px;
  }
  .quote-cta span{
    padding-left: 10px !important;
    padding-right: 10px !important;
  } 
}

@media (max-width: 574px) {
  .pb_feature-v1 {
    text-align: center;
  }
}